version {{ host.version }}
service timestamps debug datetime msec
service timestamps log datetime msec
no service password-encryption
service compress-config
!
hostname {{ host }}
!
boot-start-marker
boot-end-marker
!
shell processing full
!
vrf definition Mgmt-intf
 !
 address-family ipv4
 exit-address-family
!
{% if host.facts.vrfs is defined %}
{% for vrf, data in host.facts.vrfs.items() %}
vrf definition {{ vrf }}
{% if data.rd is defined %}
 rd {{ data.rd }}:{{ data.rd }}
{% endif %}
{% if data.family is defined %}
{% if data.family.ipv4 is true %}
 !
 address-family ipv4
 exit-address-family
{% endif %}
{% if data.family.ipv6 is true %}
 !
 address-family ipv6
 exit-address-family
{% endif %}
{% endif %}
!
{% endfor %}
{% endif %}
!
username vagrant privilege 15 secret 5 $1$jTRh$VptWXgXpyZayZgoLAjZRH0
aaa new-model
!
!
aaa authentication login default local
aaa authorization exec default local 
!
!
!
!
!
!
aaa session-id common
!
!
!
!
!
{% if host.facts.vtp is defined %}
vtp domain {{ host.facts.vtp.domain }}
vtp mode {{ host.facts.vtp.mode }}
{% endif %}
!
!
!
no ip domain-lookup
ip domain-name example.com
ip cef
{% if host.facts.routing is defined and host.facts.routing.ipv6 is true %}
ipv6 unicast-routing
ipv6 cef
{% endif %}
!
!
{% if host.facts.errdisable_recovery_bpduguard is true %}
errdisable recovery cause bpduguard
{% endif %}
archive
 path flash:archive
 write-memory
!
spanning-tree mode pvst
spanning-tree extend system-id
!
{% if host.lldp is true %}
lldp run
{% endif %}
no cdp run
!
! 
!
!
!
!
!
!
!
!
!
!
!
!
interface GigabitEthernet0/0
 no switchport
 vrf forwarding Mgmt-intf
 ip address dhcp
 negotiation auto
 no lldp transmit
 no lldp receive
 no cdp enable
!
{% for intf, data in host.facts.interfaces.items() %}
interface {{ intf }}
{% if data.vrf is defined %}
 vrf forwarding {{ data.vrf }}
{% endif %}
{% if data.ipv4 is defined %}
 ip address {{ data.ipv4.addr }} {{ data.ipv4.mask }}
{% endif %}
{% if data.ipv6 is defined %}
 ipv6 address {{ data.ipv6.addr }}/{{ data.ipv6.mask }}
{% endif %}
!
{% endfor %}
ip forward-protocol nd
!
ip http server
ip http secure-server
!
ip ssh source-interface GigabitEthernet0/0
ip ssh rsa keypair-name VAGRANT
ip ssh version 2
ip ssh pubkey-chain
  username vagrant
   key-hash ssh-rsa DD3BB82E850406E9ABFFA80AC0046ED6 
ip ssh server algorithm encryption aes128-ctr aes192-ctr aes256-ctr
ip ssh client algorithm encryption aes128-ctr aes192-ctr aes256-ctr
ip scp server enable
!
!
!
!
!
!
!
!
control-plane
!
line con 0
 exec-timeout 0 0
 privilege level 15
 logging synchronous
line aux 0
line vty 0 4
 no exec-banner
 exec-timeout 0 0
 logging synchronous
 transport input ssh
!
event manager session cli username "vagrant"
event manager applet EEM_SSH_Keygen authorization bypass
 event syslog pattern "SYS-5-RESTART"
 action 0.0 set status "none"
 action 1.0 cli command "enable"
 action 2.0 cli command "show ip ssh | include ^SSH"
 action 2.1 regexp "([ED][^ ]+)" "$_cli_result" result status
 action 2.2 syslog priority informational msg "SSH is currently $status"
 action 3.0 if $status eq "Disabled"
 action 3.1  cli command "configure terminal"
 action 3.2  cli command "crypto key generate rsa usage-keys label VAGRANT modulus 1024"
 action 3.3  cli command "end"
 action 3.4  cli command "copy run start"
 action 3.5  syslog priority informational msg "SSH keys generated by EEM"
 action 4.0 end
!
end